.profileCardContainer {
	height: 56px;
	display: flex;
	cursor: pointer;
	margin: 30px 0 10px;
	align-items: center;
	justify-content: space-between;
}

.profileCardContainer .profilePicture {
	width: 56px;
	height: 56px;
	border-radius: 200px;
}

.smallImg {
	width: 32px !important;
	height: 32px !important;
}

.profileCardContainer .description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profileCardContainer .description .username {
	font-weight: 800;
	margin-bottom: -2px;
}

.smallText {
	font-size: 12px !important;
}

.profileCardContainer .left {
	gap: 20px;
	display: flex;
	align-items: center;
}

.smallGap {
	gap: 14px !important;
}

.profileCardContainer .description * {
	margin: 0;
}
